<section id="biografia" class="biografia" data-aos="fade-up">
				<div class="texto-bio">
					<h2>BIOGRAFÍA</h2>
					<p>
						Barrio Border es una banda del Gran Buenos Aires, Zona Sur. Fundada por
						Pedro “Border” Cabral, Tomas Villagoiz y Sergio “Chino” Gimenez. Tiene sus
						inicios en el año 2017, donde arrancaron a ensayar un puñado de canciones
						que traían sus integrantes de proyectos anteriores. <br>

						El 7 de Julio de 2017 hacen su debut en Claypole, ciudad en la que vivían
						la mayoría de sus integrantes. Desde entonces no pararon de tocar en
						lugares de renombre como Auditorio Sur (Temperley), Zadar Club (Wilde),
						Club Plasma (CABA), Bar en Vivo (CABA), Mvseo Rock (CABA), entre otros.
						<br>

						El 19 de Enero de 2019 entraron al estudio para grabar lo que sería su
						primer disco “Rock a Gusto”, de la mano del productor Anibal “Chiche”
						Bounarcorso (LA PERRA QUE LOS PARIO/ AGENTE DISTRACCIÓN), en DEJA VU
						Estudios. Su fecha de lanzamiento fue el 5 de Octubre del mismo año. <br>
						“Rock a gusto” significa la variedad de géneros y estilos que tienen para
						ofrecer, haciendo alusión a la famosa frase de recetas “Un poco de
						pimienta y sal a gusto” (de ahí el salero en el arte de tapa). La banda a
						lo largo de su disco viaja por diversos estilos, como: Britpop, Rock and
						roll, Baladas, entre otros; marcando un sonido y estilo propio y sin
						estancarse en un mismo género. <br>

						Actualmente la banda cuenta con una nueva formación, y ya están trabajando
						en las canciones para esta nueva etapa.
					</p>
				</div>
			</section>