<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Axel Molina">
	<link rel="icon" href="/images/logo.ico">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <title>Coco Fest 2020</title>
    <link rel="stylesheet" href="/javascripts/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/cocofest.css">
</head>
<body>
    <div class="banner">
        <a href="/fotos">
            <h1>BARRIO BORDER</h1>
        </a>
    </div>
    <h2>Coco Fest - Cultura del sur (2020)</h2>
    <div class="galeria">
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6191.jpg"><img src="/images/cultura/_MG_6191.jpg" alt="01"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6195.jpg"><img src="/images/cultura/_MG_6195.jpg" alt="02"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6198.jpg"><img src="/images/cultura/_MG_6198.jpg" alt="03"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6291.jpg"><img src="/images/cultura/_MG_6291.jpg" alt="04"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6297.jpg"><img src="/images/cultura/_MG_6297.jpg" alt="05"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6299.jpg"><img src="/images/cultura/_MG_6299.jpg" alt="06"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6300.jpg"><img src="/images/cultura/_MG_6300.jpg" alt="07"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6314.jpg"><img src="/images/cultura/_MG_6314.jpg" alt="08"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6320.jpg"><img src="/images/cultura/_MG_6320.jpg" alt="09"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6323.jpg"><img src="/images/cultura/_MG_6323.jpg" alt="10"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6324.jpg"><img src="/images/cultura/_MG_6324.jpg" alt="11"></a>
        </div>
        <div class="foto doble">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6332.jpg"><img src="/images/cultura/_MG_6332.jpg" alt="12"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6340.jpg"><img src="/images/cultura/_MG_6340.jpg" alt="13"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6345.jpg"><img src="/images/cultura/_MG_6345.jpg" alt="14"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6347.jpg"><img src="/images/cultura/_MG_6347.jpg" alt="15"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6348.jpg"><img src="/images/cultura/_MG_6348.jpg" alt="16"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6350.jpg"><img src="/images/cultura/_MG_6350.jpg" alt="17"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6352.jpg"><img src="/images/cultura/_MG_6352.jpg" alt="18"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6353.jpg"><img src="/images/cultura/_MG_6353.jpg" alt="19"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6356.jpg"><img src="/images/cultura/_MG_6356.jpg" alt="20"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6359.jpg"><img src="/images/cultura/_MG_6359.jpg" alt="21"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6366.jpg"><img src="/images/cultura/_MG_6366.jpg" alt="22"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6367.jpg"><img src="/images/cultura/_MG_6367.jpg" alt="23"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6369.jpg"><img src="/images/cultura/_MG_6369.jpg" alt="24"></a>
        </div>
        <div class="foto doble">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6372.jpg"><img src="/images/cultura/_MG_6372.jpg" alt="25"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6379.jpg"><img src="/images/cultura/_MG_6379.jpg" alt="26"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6382.jpg"><img src="/images/cultura/_MG_6382.jpg" alt="27"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6387.jpg"><img src="/images/cultura/_MG_6387.jpg" alt="28"></a>
        </div>
        <div class="foto doble">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6391.jpg"><img src="/images/cultura/_MG_6391.jpg" alt="29"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6400.jpg"><img src="/images/cultura/_MG_6400.jpg" alt="30"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6402.jpg"><img src="/images/cultura/_MG_6402.jpg" alt="31"></a>
        </div>
        <div class="foto doble">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6410.jpg"><img src="/images/cultura/_MG_6410.jpg" alt="32"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6418.jpg"><img src="/images/cultura/_MG_6418.jpg" alt="33"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6429.jpg"><img src="/images/cultura/_MG_6429.jpg" alt="34"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6435.jpg"><img src="/images/cultura/_MG_6435.jpg" alt="35"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6437.jpg"><img src="/images/cultura/_MG_6437.jpg" alt="36"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6438.jpg"><img src="/images/cultura/_MG_6438.jpg" alt="37"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6443.jpg"><img src="/images/cultura/_MG_6443.jpg" alt="38"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6450.jpg"><img src="/images/cultura/_MG_6450.jpg" alt="39"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6451.jpg"><img src="/images/cultura/_MG_6451.jpg" alt="40"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6452.jpg"><img src="/images/cultura/_MG_6452.jpg" alt="41"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6453.jpg"><img src="/images/cultura/_MG_6453.jpg" alt="42"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6455.jpg"><img src="/images/cultura/_MG_6455.jpg" alt="43"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6456.jpg"><img src="/images/cultura/_MG_6456.jpg" alt="44"></a>
        </div>
        <div class="foto">
            <a data-fancybox="gallery" href="/images/cultura/_MG_6457.jpg"><img src="/images/cultura/_MG_6457.jpg" alt="45"></a>
        </div>
    </div>
    <p>
        <a href="/fotos">Volver a la galeria</a>
    </p>
    <footer>
        Barrio Border &copy;2020 - Todos los derechos reservados 
        <a href="mailto:ivanmolina052@gmail.com">By:Molina</a>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script></script>
	<script src="/javascripts/fancybox/jquery.fancybox.js"></script>
</body>
</html>