<section id="discografia">
				<h2 data-aos="fade-right">DISCOGRAFÍA</h2>
				<div class="discografia">
					<div>
						<h3 data-aos="fade-right">ROCK A GUSTO</h3>
						<a data-aos="flip-left"
							href="https://drive.google.com/uc?id=1t9mhmXn05pEwogGUchW3IIveFOgRzChA&export=download"
							target="_blank"><img class="portada" src="/images/ragtapa.jpg" alt="Rock
								a gusto"></a>
						<a
							href="https://drive.google.com/uc?id=1t9mhmXn05pEwogGUchW3IIveFOgRzChA&export=download"
							target="_blank"><h3>DESCARGAR</h3></a>
					</div>
					<div>
						<iframe data-aos="fade-up"
							src="https://open.spotify.com/embed/album/33wRqn7kRnIYZ5xXNQxZ2b"
							width="460" height="380" frameborder="0" allowtransparency="true"
							allow="encrypted-media"></iframe>
					</div>
				</div>
			</section>