<section id="fotos">
				<h2>FOTOS</h2>
				<div class="fotos">
					<div class="galeria">
						<a href="/cultura">
							<img src="/images/cultura/_MG_6457.jpg" alt="Cultura del Sur">
						</a>
						<h3>Coco Fest - Cultura del sur</h3>
						<h4>22 de Febrero 2020</h4>
					</div>
					<div class="galeria">
						<a href="/flou">
							<img src="/images/flou/portada.jpg" alt="Flou bar">
						</a>
						<p>
							<h3>Flou Bar</h3>
							<h4>7 de Julio 2017</h4>
						</p>
					</div>
				</div>
			</section>