<section class="banner">
    <div class="animacion">
        <h1>
            <video autoplay="1" muted>
                <source src="/images/animacionBB.mp4" type="video/mp4"
                    alt='Barrio
                    Border'>
            </video>
        </h1>
    </div>
</section>