<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="barrio,border,banda,rock,argentina">
	<meta name="description" content="Barrio Border es una banda de rock del Gran Buenos Aires, Zona Sur.">
	<meta name="author" content="Axel Molina">
	<link rel="icon" href="/images/logo.ico">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
	<title>Barrio Border | Web oficial</title>
	<link rel="stylesheet" href="/stylesheets/aos.css">
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/barrio.css">
	<link rel="stylesheet" href="/stylesheets/nav.css">
	<link rel="stylesheet" href="/stylesheets/banner.css">
	<link rel="stylesheet" href="/stylesheets/videos.css">
	<link rel="stylesheet" href="/stylesheets/fotos.css">
	<link rel="stylesheet" href="/stylesheets/novedades.css">
	<link rel="stylesheet" href="/stylesheets/biografia.css">
	<link rel="stylesheet" href="/stylesheets/discografia.css">
	<link rel="stylesheet" href="/stylesheets/contacto.css">
	<link rel="stylesheet" href="/stylesheets/footer.css">
	<script src="https://kit.fontawesome.com/b283325f5f.js" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>
<body>
	<div class="contenedor">
	    <header id="inicio">
		    <nav id="menu">
			    <ul>
				   	<a href="#inicio">
				    	<img alt="Barrio logo" src="/images/logo.ico">
				    </a>
				    <li>
					    <a onclick="$('#videos').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">VIDEOS</a>
				    </li>
				    <li>
					    <a onclick="$('#fotos').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">FOTOS</a>
				    </li>
				    <li>
					    <a onclick="$('#novedades').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">NOVEDADES</a>
				    </li>
				    <li>
					    <a onclick="$('#biografia').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">BIOGRAFÍA</a>
				    </li>
				    <li>
					    <a onclick="$('#discografia').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">DISCOGRAFÍA</a>
				    </li>
				    <li>
					    <a onclick="$('#contacto').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">CONTACTO</a>
					</li>    
					<div class="redes">
						<a href="https://www.facebook.com/BarrioBorderRock/" target="_blank">
							<img src="/images/redes/facebook.png" alt="facebook">
						</a>
						<a href="https://twitter.com/barrioborder" target="_blank">
							<img src="/images/redes/twitter.png" alt="twitter">
						</a>
						<a href="https://www.instagram.com/barrioborder/" target="_blank">
							<img src="/images/redes/instagram.png" alt="instagram">
						</a>
						<a href="https://open.spotify.com/artist/4Swx3KFEU2Q0evA82YB7dx" target="_blank">
							<img src="/images/redes/spotify.png" alt="spotify">
						</a>
						<a href="https://www.youtube.com/channel/UCEKD61mBqUufWK5GonTwlBA" target="_blank">
							<img src="/images/redes/youtube.png" alt="youtube">
						</a>
					</div>
				</ul>
			</nav> 
			<div class="menu-toggle">
				<i class="fa fa-bars"></i>
			</div>
	    </header>
	    <section class="banner">
	    	<div class="animacion">
				<h1>
					<video autoplay="1" muted>
						<source src="/images/animacionBB.mp4" type="video/mp4" alt='Barrio Border'>
					</video>
				</h1>
		    </div>
	    </section>
	    <section class="videos" data-aos="fade-up" id="videos">
			<h2>VIDEOS</h2>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/zMMRpbCV2dY?start=5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/SlSCIMhWA2o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/nCIKC1ollMI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/CjuRLkLt7jE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
	    </section>
	    <section id="fotos">
			<h2 data-aos="fade-up">FOTOS</h2>
	    	<div class="fotos"  data-aos="fade-right">
				<div class="galeria">
					<a href="cocofest.html">
						<img src="/images/cultura/_MG_6457.jpg" alt="Cultura del Sur">
					</a>
					<h3>Coco Fest - Cultura del sur</h3>
					<h4>22 de Febrero 2020</h4>
				</div>
				<div class="galeria">
					<a href="flou.html">
						<img src="/images/flou/portada.jpg" alt="Flou bar">
					</a>	
					<p>
						<h3>Flow Bar</h3>
						<h4>7 de Julio 2017</h4>
					</p>
				</div>		
	    	</div>
	    </section>
	    <section >
	    	<div class="novedades" id="novedades"  data-aos="flip-left">
				<h2>NOVEDADES</h2>
				<main class="holder">
					<div class="novedades">
						<h3>Titulo</h3>
						<h4>Subtitulo</h4>
						<p>Descripcion Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Sunt eveniet, sit non perferendis, nam ipsa nisi voluptatem, quia excepturi commodi, consequuntur. Asperiores, nesciunt? Laboriosam nihil doloremque, modi in vero facere.</p>
						<hr>
					</div>
					<div class="novedades">
						<h3>Titulo</h3>
						<h4>Subtitulo</h4>
						<p>Descripcion Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Sunt eveniet, sit non perferendis, nam ipsa nisi voluptatem, quia excepturi commodi, consequuntur. Asperiores, nesciunt? Laboriosam nihil doloremque, modi in vero facere.</p>
						<hr>
					</div>
					<div class="novedades">
						<h3>Titulo</h3>
						<h4>Subtitulo</h4>
						<p>Descripcion Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Sunt eveniet, sit non perferendis, nam ipsa nisi voluptatem, quia excepturi commodi, consequuntur. Asperiores, nesciunt? Laboriosam nihil doloremque, modi in vero facere.</p>
						<hr>
					</div>
				</main>
			</div>
	    </section>
	    <section id="biografia" class="biografia" data-aos="fade-up">
	    	<div class="texto-bio">	
	    		<h2>BIOGRAFÍA</h2>
	    		<p>
	    			Barrio Border es una banda del Gran Buenos Aires, Zona Sur. Fundada por Pedro “Border” Cabral, Tomas Villagoiz y Sergio “Chino” Gimenez. Tiene sus inicios en el año 2017, donde arrancaron a ensayar un puñado de canciones que traían sus integrantes de proyectos anteriores. <br>
   
                    El 7 de Julio de 2017 hacen su debut en Claypole, ciudad en la que vivían la mayoría de sus integrantes. Desde entonces no pararon de tocar en lugares de renombre como Auditorio Sur (Temperley), Zadar Club (Wilde), Club Plasma (CABA), Bar en Vivo (CABA), Mvseo Rock (CABA), entre otros.  <br>

                    El 19 de Enero de 2019 entraron al estudio para grabar lo que sería su primer disco “Rock a Gusto”, de la mano del productor Anibal “Chiche” Bounarcorso (LA PERRA QUE LOS PARIO/ AGENTE DISTRACCIÓN), en DEJA VU Estudios. Su fecha de lanzamiento fue el 5 de Octubre del mismo año. <br>

                    “Rock a gusto” significa la variedad de géneros y estilos que tienen para ofrecer, haciendo alusión a la famosa frase de recetas “Un poco de pimienta y sal a gusto” (de ahí el salero en el arte de tapa). La banda a lo largo de su disco viaja por diversos estilos, como: Britpop, Rock and roll, Baladas, entre otros; marcando un sonido y estilo propio y sin estancarse en un mismo género. <br>

                    Actualmente la banda cuenta con una nueva formación, y ya están trabajando en las canciones para esta nueva etapa.
				</p>
	    	</div>
		</section>
		<section id="discografia">
			<h2 data-aos="fade-right">DISCOGRAFÍA</h2>
			<div class="discografia">
				<div>
					<h3 data-aos="fade-right">ROCK A GUSTO</h3>
					<a data-aos="flip-left" href="https://drive.google.com/uc?id=1t9mhmXn05pEwogGUchW3IIveFOgRzChA&export=download" target="_blank"><img class="portada" src="/images/ragtapa.jpg" alt="Rock a gusto" ></a>
					<a href="https://drive.google.com/uc?id=1t9mhmXn05pEwogGUchW3IIveFOgRzChA&export=download" target="_blank"><h3>DESCARGAR</h3></a>
				</div>
				<div>
					<iframe src="https://open.spotify.com/embed/album/33wRqn7kRnIYZ5xXNQxZ2b" width="460" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
				</div>
			</div>
		</section>
	    <section id="contacto" data-aos="flip-left">
	    	<div class="formulario">
	    		<h2>CONTACTO</h2>
	    		<form>
	    			<p>
	    				<input type="text" name="nombre" placeholder="Nombre" required>
	    			</p>
	    			<p>
	    				<input type="text" name="apellido" placeholder="Apellido">
	    			</p>
	    			<p>
	    				<input type="email" name="Email" placeholder="Email" required>
	    			</p>
	    			<p>
	    				<textarea name="mensaje" id="mensaje" placeholder="Deja tu mensaje" required></textarea>
	    			</p>
	    			<p>
						<input type="submit" value="Enviar">
					</p>
				</form>	  	
	    	</div>
	    </section>
	    <footer>
	    	Barrio Border &copy;2020 - Todos los derechos reservados 
	    	<a href="https://www.instagram.com/axelivanmolina/" target="_blank">Diseñado por: Axel Molina</a>
	    </footer>
	</div>
	<script src="/javascripts/aos.js"></script>
	<script src="/javascripts/menu.js"></script>
	<script src="/javascripts/animatescroll.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>

