<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="barrio,border,banda,rock,argentina">
		<meta name="description" content="Barrio Border es una banda de rock del Gran
			Buenos Aires, Zona Sur.">
		<meta name="author" content="Axel Molina">
		<link rel="icon" href="/images/logo.ico">
		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
		<title>Barrio Border | Web oficial</title>
		<link rel="stylesheet" href="/stylesheets/aos.css">
		<link rel="stylesheet" href="/stylesheets/normalize.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/barrio.css">
		<link rel="stylesheet" href="/stylesheets/nav.css">
		<link rel="stylesheet" href="/stylesheets/banner.css">
		<link rel="stylesheet" href="/stylesheets/videos.css">
		<link rel="stylesheet" href="/stylesheets/fotos.css">
		<link rel="stylesheet" href="/stylesheets/novedades.css">
		<link rel="stylesheet" href="/stylesheets/biografia.css">
		<link rel="stylesheet" href="/stylesheets/discografia.css">
		<link rel="stylesheet" href="/stylesheets/contacto.css">
		<link rel="stylesheet" href="/stylesheets/footer.css">
		<script src="https://kit.fontawesome.com/b283325f5f.js"
			crossorigin="anonymous"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	</head>
	<body>
		<div class="contenedor">
			<header id="inicio">
				<nav id="menu">
					<ul>
						<a href="/" class="{{#if isHome}}activo{{/if}}">
							<img class="logo" alt="Barrio logo" src="/images/logo.ico">
						</a>
					<li><a href="/videos" class="{{#if isVideos}}activo{{/if}}">VIDEOS</a></li>
					<li><a href="/novedades" class="{{#if isNovedades}}activo{{/if}}">NOVEDADES</a></li>
					<li><a href="/fotos" class="{{#if isFotos}}activo{{/if}}">FOTOS</a></li>
					<li><a href="/biografia" class="{{#if isBiografia}}activo{{/if}}">BIOGRAFIA</a></li>
					<li><a href="/discografia" class="{{#if isDiscografia}}activo{{/if}}">DISCOGRAFIA</a></li>
					<li><a href="/contacto" class="{{#if isContacto}}activo{{/if}}">CONTACTO</a></li>
						<div class="redes">
							<a href="https://www.facebook.com/BarrioBorderRock/" target="_blank">
								<img src="/images/redes/facebook.png" alt="facebook">
							</a>
							<a href="https://twitter.com/barrioborder" target="_blank">
								<img src="/images/redes/twitter.png" alt="twitter">
							</a>
							<a href="https://www.instagram.com/barrioborder/" target="_blank">
								<img src="/images/redes/instagram.png" alt="instagram">
							</a>
							<a href="https://open.spotify.com/artist/4Swx3KFEU2Q0evA82YB7dx"
								target="_blank">
								<img src="/images/redes/spotify.png" alt="spotify">
							</a>
							<a href="https://www.youtube.com/channel/UCEKD61mBqUufWK5GonTwlBA"
								target="_blank">
								<img src="/images/redes/youtube.png" alt="youtube">
							</a>
						</div>
					</ul>
				</nav>
				<div class="menu-toggle">
					<i class="fa fa-bars"></i>
				</div>
			</header>
			{{{body}}}
			<footer>
				Barrio Border &copy;2020 - Todos los derechos reservados
				<a href="https://www.instagram.com/axelivanmolina/" target="_blank">Diseñado
					por: Axel Molina</a>
			</footer>
		</div>
		<script src="/javascripts/aos.js"></script>
		<script src="/javascripts/menu.js"></script>
		<script src="/javascripts/animatescroll.js"></script>
		<script src="/javascripts/activo.js"></script>
		<script>
  AOS.init();
</script>

	</body>
</html>
