/* Seccion BIOGRAFIA */

.biografia{
	width: 100%;
}


.texto-bio{
	color: white;
    font-family: 'Lato';
    /*text-align: center;*/
    line-height: 40px; 
    margin: 80px;
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
}

@media screen and (max-width: 600px){
    .texto-bio{
        margin: 5%;
        font-size: 15px;
        line-height: 20px;
    }
}

